@media only screen and (max-width: 600px) {
    #header {
        background-image: url('Images/phone-background.png');
        background-size: cover;
        background-position: center;
    }
    .container {
        margin: 5px 20px;
        padding: 5px 5px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 60px;
        margin-left: -21px
    }

    .headr-text {
        margin: 90px 20px;
        font-size: 25px;
    }
    .headr-text h1{
        font-size: 40px;
        line-height: 70px;

    }

    
    nav ul {
        /* background: #ff004f; */
        background: linear-gradient(rgba(0, 0, 0, 0.658), #ff004f);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav .fa-solid{
        display: block;
    }

    nav ul .fa-xmark {
        position: absolute;
        top: 20px;
        left: 25px;
        cursor: pointer;
        font-size: 30px;
    }
    nav .fa-bars{
        font-size: 20px;
        padding-right: 10px;

    }

    #about {
        padding: 30px 0px;
    }

    #about .container .row {
        justify-content: center;
    }

    .about-col-1 img {
        width: 70vw;
    }

    .contact-left,.contact-right {
        flex-basis: 100%;
    }
    .sub-title {
        font-size: 30px;
    }

    .contact-left p {
        margin-top: 16px;
    }
}